{% extends 'layout.html.twig' %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="list-group-item-text">
                    <h3>Тестовое задание</h3>
                    <h4>Создать приложение - телефонную книгу, работающее на REST API.</h4>
                    <ul>
                        <li>GET для получения и поиска данных;</li>
                        <li>POST для добавления данных;</li>
                        <li>PUT для обновления данных;</li>
                        <li>DELETE для удаления данных.</li>
                    </ul>

                    <ol>
                        <li>GET api/users - возвращает всех юзеров;</li>
                        <li>GET /api/users/search/JohnDoe - ищет пользователя с именем JohnDoe;</li>
                        <li>POST /api/users  - добавляет пользователя;</li>
                        <li>PUT /api/users/13 - обновляет пользователя с таким ИД.</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
{% endblock %}